<!DOCTYPE html>
<html lang="ja"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/site.css}" rel="stylesheet" />
<title>list | sample</title>
</head>
<body>
<div>
	<a th:href="@{/logout}"><span sec:authentication="name"></span>: ログアウト</a>
</div>
<h1>list</h1>
<div>
	<a th:href="@{/createUser}">新規登録</a>
</div>
<form th:action="@{/searchUser}" method="post">
	<div>
		<input type="text" name="keyword" th:value="${keyword}" />
		<label for="keyword">を含むemailを</label>
		<button type="submit">検索</button>
	</div>
</form>
<table>
	<thead>
		<tr>
			<th>id</th>
			<th>name</th>
			<th>email</th>
			<!--<th>password</th>-->
			<th>role</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="user : ${userList}">
			<td th:text="${user.id}"></td>
			<td th:text="${user.name}"></td>
			<td th:text="${user.email}"></td>
			<!--<td th:text="${user.password}"></td>-->
			<td th:text="${user.role}"></td>
			<td>
				<a th:href="@{/editUser/{id}(id=${user.id})}">編集・削除</a>
			</td>
		</tr>
	</tbody>
</table>
</body>
</html>