<!DOCTYPE html>
<html lang="ja"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/site.css}" rel="stylesheet" />
<title>home | sample</title>
</head>
<body>
<h1>認証とマスタメンテのサンプル</h1>
<ul>
	<li><a th:href="@{/logout}"><span sec:authentication="principal.displayName"></span>: ログアウト</a></li>
	<li><a th:href="@{/listUser}">ユーザ一覧</a></li>
</ul>
<h2>6. JPA Auditing（更新情報の自動設定）</h2>
<div>
	<a href="https://github.com/no29571/user/tree/ex-audit">GitHub：ex-audit</a>
</div>
<ol>
	<li>drop table local_user cascade;</li>
	<li>Configクラスを作成</li>
	<li>UserDetailsクラス（getId）の対応</li>
	<li>Auditingの共通クラス（親クラス）を作成</li>
	<li>Entityクラスに上記の継承を設定</li>
	<li>※親クラスをつくらずEntityクラスに直接フィールド追加でも可</li>
	<li>テンプレートを調整</li>
	<li>テンプレートへのログイン情報出力例（displayNameを出力）</li>
	<li>insert into local_user</li>
</ol>
<h2>5. ROLE・ログイン情報の使用</h2>
<div>
	<a href="https://github.com/no29571/user/tree/ex-role">GitHub：ex-role</a>
</div>
<ol>
	<li>drop table local_user cascade;</li>
	<li>Roleクラスを作成</li>
	<li>EntityとDTOとテンプレートにRoleのフィールドを追加</li>
	<li>DTOクラスにRoleのプルダウンリストを追加</li>
	<li>UserDetailsクラス（getAuthorities）の対応</li>
	<li>Configクラスの権限設定例（ユーザ登録・編集）</li>
	<li>テンプレートの権限設定例（削除フォーム）</li>
	<li>テンプレートへのログイン情報出力例（usernameを出力）</li>
	<li>insert into local_user</li>
</ol>
<h2>4. Loginのカスタマイズ</h2>
<div>
	<a href="https://github.com/no29571/user/tree/ex-login">GitHub：ex-login</a>
</div>
<ol>
	<li>drop table local_user cascade;</li>
	<li>Configクラスを作成</li>
	<li>EntityとDTOとテンプレートにパスワードのフィールドを追加</li>
	<li>Serviceクラスにパスワード暗号化を追加</li>
	<li>Controllerクラスの対応</li>
	<li>UserDetailsクラスとUserDetailsServiceクラスを作成</li>
	<li>ログインのテンプレートを作成</li>
	<li>Controllerクラスにマッピングを追加</li>
	<li>data.sql（ログインテスト用初期ユーザ登録）を作成</li>
	<li>application.propertiesで上記実行設定を追加</li>
	<li>※テーブル作成のタイミングによりエラーになる場合は手動insert</li>
	<li>上記ユーザ(test@example.com/test)でログイン</li>
</ol>
<h2>3. Validation</h2>
<div>
	<a href="https://github.com/no29571/user/tree/ex-validation">GitHub：ex-validation</a>
</div>
<ol>
	<li>drop table local_user cascade;</li>
	<li>Entityクラスに定義・制約を追加</li>
	<li>Repositoryクラスにメソッド定義追加</li>
	<li>AnnotationクラスとValidatorクラスを作成</li>
	<li>フィールド単位の検証のサンプル：ByteLength</li>
	<li>クラス単位の検証のサンプル：UniqueEmail</li>
	<li>message.propertiesを作成（Limyプロパティエディタで開く）</li>
	<li>DTOクラス（LocalUserForm）を作成</li>
	<li>Serviceクラスの引数をDTOに変更</li>
	<li>テンプレートとControllerクラスの対応</li>
</ol>
<h2>2. CRUD</h2>
<div>
	<a href="https://github.com/no29571/user/tree/ex-crud">GitHub：ex-crud</a>
</div>
<ol>
	<li>Entityクラスを作成</li>
	<li>Repositoryクラスを作成</li>
	<li>Serviceクラスを作成</li>
	<li>Controllerクラスを作成</li>
	<li>CSS（resources/static配下）とテンプレートを作成</li>
</ol>
<h2>1. Hello World</h2>
<div>
	<a href="https://github.com/no29571/user/tree/ex-hello">GitHub：ex-hello</a>
</div>
<h3>Spring Starter Project作成時に設定する依存関係</h3>
<ul>
	<li>Spring Boot DevTools (Developer Tools)</li>
	<li>Lombok (Developer Tools)</li>
	<li>Validation (I/O)</li>
	<li>Spring Data JPA (SQL)</li>
	<li>PostgreSQL Driver (SQL)</li>
	<li>Thymeleaf (Template Engines)</li>
	<li>Spring Web (Web)</li>
	<li>Spring Security (Security)</li>
</ul>
<h3>依存関係にSQLを設定した場合</h3>
<ol>
	<li>application.propertiesにDB接続定義を記載</li>
	<li>データベース作成</li>
</ol>
<pre>
--psqlで実行(postgresでログイン)
CREATE ROLE ex_user LOGIN;

CREATE DATABASE ex_db1 WITH OWNER = ex_user
ENCODING = 'UTF-8'
TABLESPACE = pg_default
LC_COLLATE = 'C'
LC_CTYPE = 'C'
CONNECTION LIMIT = -1;
</pre>
<h3>手順</h3>
<ol>
	<li>Controllerクラスを作成</li>
	<li>テンプレート（resources/templates配下)を作成</li>
	<li>実行（Run as Spring Boot App）</li>
	<li><a href="http://localhost:8080">localhost</a></li>
</ol>
<h3>依存関係にSecurityを設定した場合（デフォルトの認証機能）</h3>
<ol>
	<li>Username: user</li>
	<li>Password: コンソールに出力されているパスワード（Using generated security password:～）</li>
	<li>Sign in</li>
</ol>
</body>
</html>